NEXT_PUBLIC_SUPABASE_URL=TU_URL_DE_SUPABASE
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU_ANON_KEY_DE_SUPABASE
NEXT_PUBLIC_SECRET_KEY=amor123
NEXT_PUBLIC_ADMIN_EMAILS=jgtovar262@gmail.com
YOUTUBE_API_KEY=TU_API_KEY_DE_YOUTUBE_DATA_V3
